#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	(cd src/qt && ./preconfig.sh && cd ../..)
	src/qt/bin/qmake
	$(MAKE)

#override_dh_auto_install:
#	$(MAKE) install

#override_dh_auto_clean:
#	[ ! -f Makefile ] || $(MAKE) distclean
